/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  font-family: 'Work Sans', sans-serif;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #333;
}

footer a{
    color: #222;
}

footer a:hover{
    color: #ffffff;
    text-decoration: none;    
}
.social:hover {
     -webkit-transform: scale(1.0);
     -webkit-transition-duration: 0.5s;
 }
 .social {
     -webkit-transform: scale(0.8);
     color: #222;
     
 }

/*
 * Loader
 */
.loader {
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 30vh;
  opacity: 0.8;
  margin: 0 auto;
}
.loader span {
  display: inline-block;
  -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
          animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader span:nth-child(odd) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}
@keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}

.hide-loader{
display:none;
}

/*
 * Text Animation
 */

.content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 160px;
   overflow: hidden;
   font-family: 'Work Sans', sans-serif;
   font-size: 35px;
   line-height: 40px;
   color: #FDFFFF;
}
 .content__container {
   font-weight: 600;
   overflow: hidden;
   height: 40px;
   padding: 0 40px;
}
 .content__container:before {
   content: '[';
   left: 0;
}
 .content__container:after {
   content: ']';
   position: absolute;
   right: 0;
}
 .content__container:after, .content__container:before {
   position: absolute;
   top: 0;
   color: #16a085;
   font-size: 42px;
   line-height: 40px;
   -webkit-animation-name: opacity;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count: infinite;
   animation-name: opacity;
   animation-duration: 2s;
   animation-iteration-count: infinite;
}
 .content__container__text {
   display: inline;
   float: left;
   margin: 0;
}
 .content__container__list {
   margin-top: 0;
   padding-left: 110px;
   text-align: left;
   list-style: none;
   -webkit-animation-name: change;
   -webkit-animation-duration: 10s;
   -webkit-animation-iteration-count: infinite;
   animation-name: change;
   animation-duration: 10s;
   animation-iteration-count: infinite;
}
 .content__container__list__item {
   line-height: 40px;
   margin: 0;
}
 @-webkit-keyframes opacity {
   0%, 100% {
     opacity: 0;
  }
   50% {
     opacity: 1;
  }
}
 @-webkit-keyframes change {
   0%, 12.66%, 100% {
     transform: translate3d(0, 0, 0);
  }
   16.66%, 29.32% {
     transform: translate3d(0, -25%, 0);
  }
   33.32%, 45.98% {
     transform: translate3d(0, -50%, 0);
  }
   49.98%, 62.64% {
     transform: translate3d(0, -75%, 0);
  }
   66.64%, 79.3% {
     transform: translate3d(0, -50%, 0);
  }
   83.3%, 95.96% {
     transform: translate3d(0, -25%, 0);
  }
}
 @-o-keyframes opacity {
   0%, 100% {
     opacity: 0;
  }
   50% {
     opacity: 1;
  }
}
 @-o-keyframes change {
   0%, 12.66%, 100% {
     transform: translate3d(0, 0, 0);
  }
   16.66%, 29.32% {
     transform: translate3d(0, -25%, 0);
  }
   33.32%, 45.98% {
     transform: translate3d(0, -50%, 0);
  }
   49.98%, 62.64% {
     transform: translate3d(0, -75%, 0);
  }
   66.64%, 79.3% {
     transform: translate3d(0, -50%, 0);
  }
   83.3%, 95.96% {
     transform: translate3d(0, -25%, 0);
  }
}
 @-moz-keyframes opacity {
   0%, 100% {
     opacity: 0;
  }
   50% {
     opacity: 1;
  }
}
 @-moz-keyframes change {
   0%, 12.66%, 100% {
     transform: translate3d(0, 0, 0);
  }
   16.66%, 29.32% {
     transform: translate3d(0, -25%, 0);
  }
   33.32%, 45.98% {
     transform: translate3d(0, -50%, 0);
  }
   49.98%, 62.64% {
     transform: translate3d(0, -75%, 0);
  }
   66.64%, 79.3% {
     transform: translate3d(0, -50%, 0);
  }
   83.3%, 95.96% {
     transform: translate3d(0, -25%, 0);
  }
}
 @keyframes opacity {
   0%, 100% {
     opacity: 0;
  }
   50% {
     opacity: 1;
  }
}
 @keyframes change {
   0%, 12.66%, 100% {
     transform: translate3d(0, 0, 0);
  }
   16.66%, 29.32% {
     transform: translate3d(0, -25%, 0);
  }
   33.32%, 45.98% {
     transform: translate3d(0, -50%, 0);
  }
   49.98%, 62.64% {
     transform: translate3d(0, -75%, 0);
  }
   66.64%, 79.3% {
     transform: translate3d(0, -50%, 0);
  }
   83.3%, 95.96% {
     transform: translate3d(0, -25%, 0);
  }
}
 
